* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}


header {
	position: fixed;
	width: 100%;
	height: 80px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 250;
	box-sizing: border-box;


}


nav {
	
	display: flex;
	justify-content: space-around;
	width: 60%;
	align-items: center;
    margin: auto;
}

expand{
  position:relative;
  text-decoration:none;
  display:inline-block;
}
.main-menu{
position: relative;
text-decoration: none;
padding:  2px;
letter-spacing: -0.5px;
font-family: 'poppins';
font-size: 15pt;
transition: color 0.3s ease-in-out;
box-sizing: border-box;
}
.main-menu:after {
  display:block;
  box-sizing: border-box;
  content: '';
  border-bottom: solid 2.5px #188c90;  
  transform: scaleX(0);  
  transition: transform 200ms ease-in-out;
  transform-origin:100% 50%
}
.main-menu:hover{
  color: #188c90 ;
box-sizing: border-box;
}
.main-menu:hover:after { 
  transform: scaleX(1);
box-sizing: border-box;
  transform-origin:0 50%;
}






ul {
	list-style: none;
	display: flex;
	width: 70%;
	justify-content: space-around;
	font-size: 14pt;
	font-family: 'poppins';
	color:black;
	box-sizing: border-box;
	font-weight:400;
}

nav img {
	    max-width: 100%;
	height: 25px;
   justify-content: left;
   display: flex;
   vertical-align: middle;
box-sizing: border-box;
}


a {
	text-decoration: none;
	box-sizing: border-box;
}





main {
	height: 100vh;
	background-color: black;
	background-repeat: no-repeat;
	margin: 0 auto;
	background-position: center;
	background-size: 100%;
    box-sizing: border-box;
}
hr{
	margin-top: 30px;
    margin-bottom: 30px;
    border: 0;
    border-top: 6px solid #41fff1;
    box-sizing: border-box;
}

.connect {
	background-color:black;
	position: absolute;
	top: 150px;
	left: 330px;
	right: 330px;
	padding-left: 10px;
	z-index: auto;
	align-items: center;
	font-size: 22pt;
	text-align: center;
    box-sizing: border-box;
}
h1{
color: white;
font-size: 2.2em;
font-family: 'poppins';
font-weight:800;
line-height: 1.2;
text-align: center;
   margin: 1px 0;	
   display: block;
box-sizing: border-box;
}
h2{
color: white;
font-size: 2.2em;
font-family: 'poppins';
font-weight:800;
line-height: 1.2;
text-align: center;
   margin: 1px 0;	
   display: block;
box-sizing: border-box;
}

.connect>h3 {
	color: white;
	font-size: 15pt;
	font-family: 'poppins';
	font-weight: 300;
box-sizing: border-box;
}


button {
	width: 150px;
	height: 40px;
	margin: 20px;
box-sizing: border-box;
}

{
	 position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.custom-button  {
	    background: transparent;
    border: 3px solid #41fff1;
    color: #41fff1;
    width: 250px;
    margin: auto;
        display: flex;
    align-items: center;
    justify-content: center;
        border-radius: 0;
    text-align: center;
    padding: 15px 20px;
    height: 60px;
    text-transform: uppercase;
    font-size: 12pt;
    vertical-align: middle;
    cursor: pointer;
    font-family: 'poppins';
 transition: color 0.5s ease,border-color 0.5s ease;
box-sizing: border-box;
}


.custom-button:hover
 {
	color: white;
border-color: white;
box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

h4{
	color: black;
    font-size: 4.2em;
    font-family: 'poppins';
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    box-sizing: border-box;
padding: 1%;
}
.services-detail {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
font-family: arial;
}
.services-img {
    flex-shrink: 0;
    margin: 0 70px 50px 400px;
}
.services-text-title {
    align-self: center;
    background: black;
    padding: 20px;
    width: 400px;
    height: 75px;

    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 30px;

}
.services-text {
	margin: 0 300px 0 0
}

.services-text-title h7 {
    
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    color: white;
    font-family: arial;
}
h7 {
    font-family: arial;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

section {
    display: block;
}

.container {
    max-width: 720px;
}

.article {
    padding: 80px 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
margin: 15px 15px 15px 400px;
}

 
 img {
    vertical-align: middle;
    border-style: none;
}



.portfolio-item {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 10px ;
}

.portfolio-item > img {
max-width: 300px;

}
.col-md-6 {
      flex: 0 0 25%;
    
position: relative;
    width: 100%;
    padding-right: 12px;
    padding-left: 110px;
}

.col-md-7 {
      flex: 0 0 10%;

position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: -40px;
}.col-md-8 {
      flex: 0 0 33.333333%;
position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: -40px;
}


 h8 {

    color: black;
    font-size: 4.2em;
    font-family: 'poppins';
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    box-sizing: border-box;
    padding: 1%;
    display: block;
   padding-left: 400px;
}


.col-md-4{
position: relative;
text-decoration: none;
padding:  2px;
letter-spacing: -0.5px;
font-family: 'poppins';
font-size: 15pt;
transition: color 0.3s ease-in-out;
box-sizing: border-box;
text-align: center;
}





a{

color:#188c90;

text-decoration:none

}

a:active {

color:#188c90;

text-decoration:none

}

a:visited {

color:#188c90;

text-decoration:none

}

a:hover {

color:#188c90;

text-decoration: none

}

footer {
	height: 100px;
	background-color: black;
box-sizing: border-box;
}





